.modal-content {
  .error {
    color: red;
    font-weight: bold;
  }
}

.app-container {
  .container {
    display: grid;
    grid-auto-flow: row;
    grid-column-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

  .card-wrapper {
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  .card {
    height: 300px;
    width: 300px;
    overflow-y: auto;
  }

  .app {
    &-card {
      &--footer {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .permissions {
          margin-right: 1em;
        }
      }
    }
  }
}
