.app-handle {
  & iframe {
    width: 100%;
    height: min-content;
    border: none;
    border-radius: 10px;
  }

  .app {
    min-height: 200px;

    .spinner {
      position: absolute;
      top: calc(50% - 5rem);
      left: calc(50% - 5rem);
      align-self: center;
      justify-self: center;
      width: 10rem;
      height: 10rem;

      &.disabled {
        transition: all .25s;
        opacity: 0;
      }
    }

    .frame {
      &.disabled {
        opacity: 0;
      }

      &.enabled {
        transition: all .5s;
        opacity: 100%;
      }
    }
  }
}
