.metadata-view {
    display: grid;
    grid-template-columns: min-content 1fr;
    width: 100%;
    margin-bottom: 3rem;
    overflow-x: auto;

    .nc-icon {
        width: 20px;
        padding: .3em;

        &:hover {
            color: #51CBCE;
        }
    }

    &__left-pane {
        overflow: auto;
        margin-left: 0.5rem;
        margin-right: 2rem;
        padding-right: 1.4rem;
        border-right: 1px solid #d1cfc5;
    }

    &__right-pane {
        height: 100%;
        .default-node {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        overflow: auto;
        & .entityview {
            display: grid;
            grid-template-columns: minmax(120px, min-content) 1fr;
            grid-row-gap: 1rem;
            grid-column-gap: 2rem;

            & a {
                text-decoration: none;
                color: black;

                &:hover {
                    color: #51CBCE;
                }
            }

            & .field {
                display: flex;
                justify-content: left;
                background-color: rgb(247,250,252);
                padding: .75rem 1rem;
                border-radius: 10px;
                min-height: 50px;
                overflow-x: auto;
            }

            & .value {
                padding: .75rem 1rem;

                a {
                    text-decoration: none;
                }
            }

            .entity-link {
                cursor: pointer;

                &:hover {
                    color: #51cbce;
                }
            }

        }
    }
}

.node-title {
    font-size: 1.3rem;
    padding-bottom: 0.4rem;
}

.node {
    display: flex;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    padding: 0.1rem 0.1rem;
    font-size: 0.9rem;

    .label {
        padding-left: 0.2rem;

        &:hover {
            color: #51CBCE;
        }
    }

    .label-highlight {
        padding-left: 0.2rem;
        color: #51CBCE;
    }

    .section-label {
        font-weight: bold;
        padding: 0.4rem 0;
    }
}

.indent-space {
    width: 20px;
}
