
.empty-panel {
  @extend .main-panel;
  height: 100%;
  width: 100%;
  display: flex;

  justify-content: center;
  align-items: center;

  .container {
    max-width: 500px;

    .card-title {
      text-align: center;
    }

    .card-body {
      padding: 20px;
    }

    .logo-wrapper {
      display: flex;
      justify-content: center;
      padding: 30px 0 0 0;

      a {
        &.logo-normal {
          margin-right: 5px;
          display: block;
          opacity: 1;
          width: 150px;
        }

        & p {
          margin-top: 1rem;
          text-align: center;
          font-weight: bold;
          font-size: 20px;
        }

        &:hover, &:link, &:active {
          text-decoration: none;
        }
      }
    }

    .options {
      padding: 0;
    }
  }
}
