.sparql-playground {
    display: grid;
    width: 100%;

    & .editor {
        width: 100%;
        height: 10rem;
        border: 2px solid #ccc;
        border-radius: 0.2rem;
        box-sizing: border-box;
        margin-bottom: 1rem;
        resize: vertical;
        overflow: auto;
        min-height: 50px;
    }

    .sparql-output {
        max-height: 500px;
        overflow: auto;
        margin: 0.5rem;

        & .table {
            & th {
                background-color: #66615B;
                color: white;
            }
            & tr {
                background-color: #cfcfcf;
                &:hover {
                    background-color: #b0b0b0;
                    cursor: pointer
                }
            }
        }
    }
}

.submit-button {
    float: right;
}

.output-label {
    font-size: 14px;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    color: #9a9a9a;
}
