.edit-modal {
    .title-input {
        width: 100%;
        height: 2rem;
        border: 2px solid #ccc;
        border-radius: 0.2rem;
        box-sizing: border-box;
        margin-bottom: 1rem;
        overflow: auto;
    }

    .entity-list {
        padding: 0.5rem;
        .item {
            display: grid;
            grid-template-columns: 1fr 30px;

            .nc-icon.nc-simple-remove {
                display: flex;
                align-self: center;
                justify-self: center;
            }
        }
        margin-bottom: 0.5rem;
    }
}

.timeseries {
    .graph-list {
        .graph-header {
            margin-left: 47vw;
            margin-bottom: 0.5rem;
        }

        .graph-button {
            cursor: pointer;
            margin-left: 0.4rem;
            margin-top: 0.2rem;
            margin-bottom: 0.2rem;
        }

        .graph-wrapper {
            height: 100%;
            width: 100%;
            padding: 1rem;
            margin-bottom: 4rem;
        }
    }

    .input-time {
        margin-left: 0.65rem;
        width: 20rem;
    }

    .react-datetime-picker__wrapper {
        display: flex;
        align-items: center;
    }
}
