.token-management {
  td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  th .filter-label {
    input {
      margin-top: 5px;
    }
  }

  th.sortable {
    border: 1px solid $dt-border-color;
  }

  table {
    border-collapse: collapse;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-style: hidden;
    box-shadow: 0 0 0 1px $dt-border-color;
  }

  .card-header {
    display: flex;

    button.add-token {
      margin-left: auto;
    }

    i.nc-simple-add {
      font-weight: bold;
      right: 7px;
      top: 2px;
      font-size: 12px;
    }
  }

  .nc-icon {
    cursor: pointer;
  }
}

@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.modal .form-error {
  animation: 300ms cubic-bezier(.3,.65,.13,1.2) 0s 1 slideInFromLeft;
  margin-right: auto;
  color: darkred;
}
